<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Le numérique<br />
        à portée de clic</h1>
        <p>Votre Espace Public Numérique de Paris 12</p>
      </header>
      <p>Nous luttons contre la fracture numérique, en donnant des cours assurés par des bénévoles ou en offrant des plages d'accès libres à nos ordinateurs.</p>
      <ul class="actions">
        <li><a href="{{ 'infos.html' | absolute_url }}" class="button big">En savoir plus</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/annexe-relais59-epn-paris12.jpeg" alt="" />
    </span>
  </section>
