<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <script>
  (function() {
    var cx = '006318869748812840330:vmp1hvobj9u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Accueil</a></li>
            <li><a href="{{ 'infos.html' | absolute_url }}">Informations</a></li>
            <li><a href="{{ 'activites.html' | absolute_url }}">Activités</a></li>
            <li>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Nos cours</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Cours débutants</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/apprendre-informatique.jpg" alt="" /></a>
              <p>Cours de bureautique</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Cours de programmation</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="{{ 'activites.html' | absolute_url }}" class="button">En savoir plus</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Renseignements</h2>
          </header>
          <p>Pour tout renseignement, notre permanence d'accueil vous reçois sans rendez-vous du lundi au vendredi, entre 10h et 12h.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.telephone }}</li>
            <li class="fa-home">{{ site.adresse }}<br />
            {{ site.code_postal }} {{ site.ville }}<br /></li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">{{ site.title }}. Licence MIT. Fait avec <i class="fa fa-heart"></i> et <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> par <a href="https://stephma.net" target="_blank">Stéphane Manet</a>. Retrouvez le code source et nos tutoriels sur <a href="https://gitlab.com/relais59/epn">GitLab</a></p>
        </footer>

    </div>
  </div>
